body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes rotate-gear {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-gear {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader-example {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gear-A {
  -webkit-animation: rotate-gear 21176ms linear infinite;
          animation: rotate-gear 21176ms linear infinite;
}

.gear-B {
  -webkit-animation: rotate-gear 10000ms linear infinite;
          animation: rotate-gear 10000ms linear infinite;
}

.test {
  display: flex;
  justify-content: center;
}
.test svg {
  width: 50%;
}

.h1 {
  -webkit-animation: test4 4s infinite;
          animation: test4 4s infinite;
}

.h2 {
  -webkit-animation: test3 4s infinite;
          animation: test3 4s infinite;
}

.h3 {
  -webkit-animation: test2 4s infinite;
          animation: test2 4s infinite;
}

.h4 {
  -webkit-animation: test1 4s infinite;
          animation: test1 4s infinite;
}

@-webkit-keyframes test1 {
  0% {
    stroke: red;
  }
  25% {
    stroke: yellow;
  }
  50% {
    stroke: blue;
  }
  75% {
    stroke: green;
  }
  100% {
    stroke: red;
  }
}

@keyframes test1 {
  0% {
    stroke: red;
  }
  25% {
    stroke: yellow;
  }
  50% {
    stroke: blue;
  }
  75% {
    stroke: green;
  }
  100% {
    stroke: red;
  }
}
@-webkit-keyframes test2 {
  0% {
    stroke: green;
  }
  25% {
    stroke: red;
  }
  50% {
    stroke: yellow;
  }
  75% {
    stroke: blue;
  }
  100% {
    stroke: green;
  }
}
@keyframes test2 {
  0% {
    stroke: green;
  }
  25% {
    stroke: red;
  }
  50% {
    stroke: yellow;
  }
  75% {
    stroke: blue;
  }
  100% {
    stroke: green;
  }
}
@-webkit-keyframes test3 {
  0% {
    stroke: blue;
  }
  25% {
    stroke: green;
  }
  50% {
    stroke: red;
  }
  75% {
    stroke: yellow;
  }
  100% {
    stroke: blue;
  }
}
@keyframes test3 {
  0% {
    stroke: blue;
  }
  25% {
    stroke: green;
  }
  50% {
    stroke: red;
  }
  75% {
    stroke: yellow;
  }
  100% {
    stroke: blue;
  }
}
@-webkit-keyframes test4 {
  0% {
    stroke: yellow;
  }
  25% {
    stroke: blue;
  }
  50% {
    stroke: green;
  }
  75% {
    stroke: red;
  }
  100% {
    stroke: yellow;
  }
}
@keyframes test4 {
  0% {
    stroke: yellow;
  }
  25% {
    stroke: blue;
  }
  50% {
    stroke: green;
  }
  75% {
    stroke: red;
  }
  100% {
    stroke: yellow;
  }
}
.flower {
  display: flex;
  justify-content: center;
}
.flower svg {
  width: 50%;
}
.flower .flower-1-line {
  -webkit-animation: flower1 4s infinite;
          animation: flower1 4s infinite;
}
.flower .flower-2-line {
  -webkit-animation: flower2 4s infinite;
          animation: flower2 4s infinite;
}
.flower .flower-3-line {
  -webkit-animation: flower3 4s infinite;
          animation: flower3 4s infinite;
}
.flower .flower-4-line {
  -webkit-animation: flower4 4s infinite;
          animation: flower4 4s infinite;
}
.flower .flower-5-line {
  -webkit-animation: flower5 4s infinite;
          animation: flower5 4s infinite;
}
.flower .flower-end {
  -webkit-animation: flowerEnd 4s infinite;
          animation: flowerEnd 4s infinite;
}

@-webkit-keyframes flower1 {
  0% {
    fill: red;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  75% {
    fill: green;
  }
  100% {
    fill: red;
  }
}

@keyframes flower1 {
  0% {
    fill: red;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  75% {
    fill: green;
  }
  100% {
    fill: red;
  }
}
@-webkit-keyframes flower2 {
  0% {
    fill: purple;
  }
  25% {
    fill: orange;
  }
  50% {
    fill: rgb(85, 45, 45);
  }
  75% {
    fill: blue;
  }
  100% {
    fill: purple;
  }
}
@keyframes flower2 {
  0% {
    fill: purple;
  }
  25% {
    fill: orange;
  }
  50% {
    fill: rgb(85, 45, 45);
  }
  75% {
    fill: blue;
  }
  100% {
    fill: purple;
  }
}
@-webkit-keyframes flower3 {
  0% {
    fill: pink;
  }
  25% {
    fill: green;
  }
  50% {
    fill: rgb(78, 78, 78);
  }
  75% {
    fill: yellow;
  }
  100% {
    fill: pink;
  }
}
@keyframes flower3 {
  0% {
    fill: pink;
  }
  25% {
    fill: green;
  }
  50% {
    fill: rgb(78, 78, 78);
  }
  75% {
    fill: yellow;
  }
  100% {
    fill: pink;
  }
}
@-webkit-keyframes flower4 {
  0% {
    fill: purple;
  }
  25% {
    fill: orange;
  }
  50% {
    fill: rgb(85, 45, 45);
  }
  75% {
    fill: blue;
  }
  100% {
    fill: purple;
  }
}
@keyframes flower4 {
  0% {
    fill: purple;
  }
  25% {
    fill: orange;
  }
  50% {
    fill: rgb(85, 45, 45);
  }
  75% {
    fill: blue;
  }
  100% {
    fill: purple;
  }
}
@-webkit-keyframes flower5 {
  0% {
    fill: red;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  75% {
    fill: green;
  }
  100% {
    fill: red;
  }
}
@keyframes flower5 {
  0% {
    fill: red;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  75% {
    fill: green;
  }
  100% {
    fill: red;
  }
}
@-webkit-keyframes flowerEnd {
  0% {
    fill: yellow;
  }
  25% {
    fill: pink;
  }
  50% {
    fill: blue;
  }
  75% {
    fill: orange;
  }
  100% {
    fill: yellow;
  }
}
@keyframes flowerEnd {
  0% {
    fill: yellow;
  }
  25% {
    fill: pink;
  }
  50% {
    fill: blue;
  }
  75% {
    fill: orange;
  }
  100% {
    fill: yellow;
  }
}
.testing-3 {
  display: flex;
  justify-content: center;
  background-color: black;
}
.testing-3 .boll-1 {
  -webkit-animation: boll1 2s infinite;
          animation: boll1 2s infinite;
}
.testing-3 .boll-2 {
  -webkit-animation: boll2 2s infinite;
          animation: boll2 2s infinite;
}
.testing-3 .boll-3 {
  -webkit-animation: boll3 2s infinite;
          animation: boll3 2s infinite;
}
.testing-3 .boll-4 {
  -webkit-animation: boll4 2s infinite;
          animation: boll4 2s infinite;
}
.testing-3 .boll-5 {
  -webkit-animation: boll1 2s infinite;
          animation: boll1 2s infinite;
}
.testing-3 .star {
  -webkit-animation: boll3 4s infinite;
          animation: boll3 4s infinite;
}
.testing-3 .wood {
  -webkit-animation: wood 3s infinite;
          animation: wood 3s infinite;
}

@-webkit-keyframes wood {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes wood {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@-webkit-keyframes boll1 {
  0% {
    fill: purple;
  }
  25% {
    fill: red;
  }
  50% {
    fill: green;
  }
  75% {
    fill: blue;
  }
  100% {
    fill: purple;
  }
}
@keyframes boll1 {
  0% {
    fill: purple;
  }
  25% {
    fill: red;
  }
  50% {
    fill: green;
  }
  75% {
    fill: blue;
  }
  100% {
    fill: purple;
  }
}
@-webkit-keyframes boll2 {
  0% {
    fill: blue;
  }
  25% {
    fill: purple;
  }
  50% {
    fill: red;
  }
  75% {
    fill: green;
  }
  100% {
    fill: blue;
  }
}
@keyframes boll2 {
  0% {
    fill: blue;
  }
  25% {
    fill: purple;
  }
  50% {
    fill: red;
  }
  75% {
    fill: green;
  }
  100% {
    fill: blue;
  }
}
@-webkit-keyframes boll3 {
  0% {
    fill: green;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: purple;
  }
  75% {
    fill: red;
  }
  100% {
    fill: green;
  }
}
@keyframes boll3 {
  0% {
    fill: green;
  }
  25% {
    fill: blue;
  }
  50% {
    fill: purple;
  }
  75% {
    fill: red;
  }
  100% {
    fill: green;
  }
}
@-webkit-keyframes boll4 {
  0% {
    fill: red;
  }
  25% {
    fill: green;
  }
  50% {
    fill: blue;
  }
  75% {
    fill: purple;
  }
  100% {
    fill: red;
  }
}
@keyframes boll4 {
  0% {
    fill: red;
  }
  25% {
    fill: green;
  }
  50% {
    fill: blue;
  }
  75% {
    fill: purple;
  }
  100% {
    fill: red;
  }
}/*# sourceMappingURL=style.css.map */